body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container{
  display: flex;
  
}
button{
  display: flex;
  justify-content: center;
}
h4,h6{
  font-size: 20px;
  color: black;
}
ol,ul{
  font-size: 14px;
}
p{
  font-size: 12px;
}
.card-img-top {
  height:300px ;
}
#h5{
  text-align: center;
}
#p{
  font-size: 14px;
}